.heading {
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins';
    background: linear-gradient(34deg, #d358d9, #00129f);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 992px) {
        /* font-weight: 500;
        font-size: 40px;
        line-height: 55px; */
      } 
      @media only screen and (max-width: 767px) {
        /* font-weight: 500;
        font-size: 30px;
        line-height: 50px; */
      } 
      @media only screen and (max-width: 767px) {
      
        /* line-height: 40px; */
      } 
}
.checkbox-button {
    background: linear-gradient(34deg, #FF1B6B, #2472FC);

    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;

}
.forget-password {
    font-family: 'Poppins';
    background: linear-gradient(34deg, #FF1B6B, #2472FC);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
